<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-image: url(./images/{{title}}); heigth: 100vh">
    {{{body}}}
  </body>
</html>
